{% extends 'home.html' %}


{% block title %}Add Blog{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Blog Posts -->
    <div class="row">
        {% for post in blog_posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Add Blog Form -->
<div class="container mt-4">
    <h2>Add a Blog</h2>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="tt" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="ds" rows="2" required></textarea>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="cn" rows="4" required></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="im" multiple required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock%}
