<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Blog</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Family Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_blog">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <!-- Search Bar -->
    <div class="row">
        <div class="col-md-8">
            <form action="/search_results/" method="GET" class="form-inline">
                <div class="input-group">
                    <input type="text" name="query" placeholder="Search..." class="form-control">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i> <!-- Font Awesome search icon -->
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <!-- Featured Blog Post -->
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <img src="C:\Users\Python\Pictures\photos\IMG_20200913_110451.jpg" class="card-img-top" alt="Featured Blog">
                <div class="card-body">
                    <h5 class="card-title">Our Recent Family Adventure</h5>
                    <p class="card-text">We had an amazing time exploring the great outdoors as a family. Read about our adventure and see the photos!</p>
                    <a href="/blog/1/" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <!-- Recent Blog Posts -->
    <h2>Recent Blog Posts</h2>
    <div class="row">
        <!-- Mock Blog Post 1 -->
        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="card mb-4">

                <img src="{{blog.pic.url}}" class="card-img-top" alt="Blog 1">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">Published: {{blog.date}}</p>
                    <p class="card-text">{{blog.desc}}</p>
                    <a href="/blog/{{ blog.id}}/" class="btn btn-primary">Read More</a>

                </div>
            </div>
        </div>
        {% endfor %}
<!--        &lt;!&ndash; Mock Blog Post 2 &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--            <div class="card mb-4">-->
<!--                <img src="" class="card-img-top" alt="Blog 2">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Baking Cookies Together</h5>-->
<!--                    <p class="card-text">We spent a rainy day indoors baking delicious cookies as a family.</p>-->
<!--                    <a href="/blog/3/" class="btn btn-primary">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Mock Blog Post 3 &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--            <div class="card mb-4">-->
<!--                <img src="" class="card-img-top" alt="Blog 3">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Our Family Vacation</h5>-->
<!--                    <p class="card-text">We enjoyed a memorable vacation at the beach, building sandcastles and swimming in the ocean.</p>-->
<!--                    <a href="/blog/4/" class="btn btn-primary">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Mock Blog Post 4 &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--            <div class="card mb-4">-->
<!--                <img src="" class="card-img-top" alt="Blog 4">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Vacation</h5>-->
<!--                    <p class="card-text">We enjoyed a memorable vacation at the beach, building sandcastles and swimming in the ocean.</p>-->
<!--                    <a href="/blog/4/" class="btn btn-primary">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
