{% extends 'login.html' %}


{% block title %}Page Title{% endblock %}

{% block content %}
<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
    <input type="text" placeholder="First name" class="form-control" name="first" required><br>
    <input type="text" placeholder="Last name" class="form-control" name="last" required><br>
    <input type="text" placeholder="Username" class="form-control" name="user" required><br>
    <input type="email" placeholder="Email" class="form-control" name="em" required><br>
    <input type="password" placeholder="Password" class="form-control" name="pas" required><br>
    <button style="border-color: white;background-color: burlywood ;" type="submit" name="signup" class="btn btn-primary">Register</button>
    <a href="{% url 'login' %}" style="color: darkgoldenrod;">< Go back to Login page</a><br><br>
</form>
{% endblock%}


